[color]
    ui = "auto"
[color "diff"]
    meta = cyan bold
    frag = magendta bold
[color "status"]
    untracked = cyan
[color "branch"]
    current = cyan reverse bold
    local = green
    remote = yellow
